.chat-detail-content{
}

.chat-detail-message-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 400px);
    min-height: 200px;
}

.chat-detail-inputs-container{
    width: 100%;
    background-color: rgba(251, 251, 252, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 0 0 5px 5px;
    padding: 10px 10px 10px 10px;
}
#top{
    height: 70px;
}
.chat-detail-message-input{
    resize:none;
    width: 100%;
    background-color: rgba(253, 253, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 5px;
    margin: 8px 0 10px 0;
    font-size: 18px;
}

.chat-detail-btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-detail-send-btn{
    font-weight: 500;
    padding: 8px 40px 8px 40px;
    background-color: rgba(198, 134, 209, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border:none;
    outline: none;
    font-size: 18px;
}
.chat-detail-send-btn:hover, .chat-detail-back-btn:hover{
    background-color: rgb(209, 105, 153);
}

.chat-detail-upload-btn{
    margin: 10px 15px 0 15px;
    cursor: pointer;
}

.chat-detail-typing-notify{
    font-size: 16px;
    color: rgba(117, 105, 157, 1);
    text-align: left;
    font-weight: 600;
    padding: 15px;
}
.
.chat-detail-typing-notify img {
    margin-left: 15px;
    margin-bottom: 3px;
}
.chat-detail-typing-notify-visible{
    opacity: 0;
}

.chat-detail-back-btn{
    /*position: fixed;*/
    /*z-index: 1000;*/
    padding: 12px;
    background-color: rgba(198, 134, 209, 1);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 0 0 5px 5px;
    max-width: 170px;
    cursor: pointer;
    margin-bottom: 20px;
}
.chat-detail-load-img{
    display: block;
    width: 47px;
    height:47px;
    margin: 5px auto 20px auto;
}


@media only screen and (max-width: 520px) {
    .chat-detail-load-img{
        margin-top: 35px;
    }

    .chat-detail-back-btn{
        padding: 5px 10px 5px 10px;
        margin-bottom: 10px;
    }
}