<div class="container chat-detail-content">

        <div class="chat-detail-back-btn" ng-click="$ctrl.goToChatsList()">
            <img src="img/ic_arrow.png" alt="">
            <span>Back to all chats</span>
        </div>

        <div class="chat-detail-message-container" when-scrolled="$ctrl.loadMore()"
             scroll-bottom-on="status.loaded" is-finish-scroll="status.finishScroll">
            <div id="top">
                <img ng-show="status.loading" class="chat-detail-load-img" src="img/ic_load.gif" alt="">
            </div>
            <message ng-repeat="message in messages" message=message user=targetUser></message>
        </div>

        <div class="chat-detail-typing-notify">
            <span ng-class="{'chat-detail-typing-notify-visible': !status.typing}">{{targetUser.firstname}} is typing...<img src="img/ic_typing.png" alt=""></span>
        </div>

        <div class="chat-detail-inputs-container" >
            <form>
                <textarea rows="3" class="chat-detail-message-input" ng-model="messageText" ng-change="$ctrl.changeInput()" placeholder="Write message"></textarea>
            </form>
            <div class="chat-detail-btn-wrapper">
                <div>
                    <img src="img/ic_photo.png" class="chat-detail-upload-btn" alt="">
                    <img src="img/ic_document.png" class="chat-detail-upload-btn"  alt="">
                </div>
                <input type="submit" id="submit" class="chat-detail-send-btn" value="Send" ng-click="$ctrl.sendMessage()" />
            </div>
        </div>

</div>