<div class="user-detail-cover" ng-style="coverStyle">
    <div class="user-detail-cover-mask container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <img class="user-detail-avatar" src="{{user.avatar}}" alt="">
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4" >
                <h1 class="user-detail-header1" >{{ user.firstname}} {{user.lastname}}</h1>
                <h2 class="user-detail-header2">
                    <span ng-show="user.gender">{{user.gender}}<span ng-show="user.birthday">,</span> </span>
                    <span ng-show="user.birthday"> Birthday {{user.birthday | date : 'dd MMMM yyyy'}}</span>
                </h2>
                <h2 class="user-detail-header2" ng-show="user.city">{{ user.country}}, {{user.city}}</h2>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-5">
                <button ng-show="isOwnerPage" ng-click="$ctrl.editProfile()" class="user-detail-header-edit-btn">Edit</button>
                <div class="user-detail-header-btn-group" ng-show="!isOwnerPage">
                    <button ng-click="$ctrl.addFriend(user)" ng-show="states.TO_ADD" class="user-detail-header-btn center-block">Add to your contacts</button>
                    <button ng-click="$ctrl.removeFriend(user)" ng-show="states.TO_REMOVE" class="user-detail-header-btn center-block">Remove from contacts</button>
                    <button ng-click="$ctrl.acceptFriend(user)" ng-show="states.TO_ACCEPT" class="user-detail-header-btn center-block">Accept friend</button>
                    <button ng-click="$ctrl.goToChat()" ng-show="status===FRIEND_STATUS"class="user-detail-header-btn center-block" >Send message</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <a class="user-detail-cover-tab" ui-sref="user.events({ userId: userId })"  ui-sref-active="user-detail-cover-tab-active">EVENTS</a>
            </div>
            <div class="col-xs-6 col-md-6">
                <a class="user-detail-cover-tab" ui-sref="user.friends({ userId: userId })"  ui-sref-active="user-detail-cover-tab-active">FRIENDS</a>
            </div>
        </div>
    </div>
</div>
