.user-detail-cover{
    background: rgba(46, 31, 93, 1) no-repeat center;
    min-height: 294px;
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 5px rgba(117, 105, 157, 1);
    position: relative;
    padding: 0 0 0 0 ;
}
.user-detail-cover-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.user-detail-cover-tab{
    display:block;
    margin: 16px auto 15px auto;
    font-size: 18px;
    font-weight: 700;
    color: #53708c;
    text-align: center;
    letter-spacing: 0.0556em;
}
.user-detail-cover-tab-active, .user-detail-cover-tab:hover,.user-detail-cover-tab:focus {
    color: rgba(255, 255, 255, 1);
    text-decoration: none ;
}

.user-detail-cover-tab-active::after {
    content: "";
    position: absolute;
    z-index: 110;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -13px;
    bottom: -6px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid rgba(251, 251, 253, 1);
}
.user-detail-cover-tab-active::before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -21px;
    bottom: -5px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 21px solid rgba(117, 105, 157, 1);
}

.user-detail-avatar{
    height: 210px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1) ;
    background-color: rgba(255, 255, 255, 1);
    margin: 25px 0 0 25px;
}

.user-detail-header1, .user-detail-header2{
    color: rgba(255, 255, 255, 1);
    text-align: left;

}

.user-detail-header1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 130px;
}

.user-detail-header2 {
    font-size: 18px;
    margin-top: 0;
}
.user-detail-header-edit-btn{
    float:right;
    margin: 30px 60px auto auto;
    height: 40px;
    width: 95px;
    background-color: rgba(198, 134, 209, 1);
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    outline: none ;
}

.user-detail-header-btn{
    float: right;
    margin: 180px 20px auto auto;
    min-width: 160px;
    min-height: 40px;
    padding: 2px 20px 2px 20px;
    font-weight: 500;
    background-color: rgba(198, 134, 209, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border:none;
    outline: none;
    font-size: 18px;
    text-align: center;
}

.user-detail-header-btn:hover, .user-detail-header-edit-btn:hover{
    background-color: rgb(209, 105, 153);
}

.user-detail-input-search{
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 19px;
    height: 38px;
    width:100%;
    font-size: 18px;
    color: rgba(167, 167, 167, 1);
    padding-left: 55px;
    margin-bottom:15px;
    outline: none;
}
.user-detail-input-search-img{
    position: absolute;
    top: 7px;
    left: 36px;

}

@media only screen and (max-width: 1200px) {
    .user-detail-header-btn{
        float: none;
        margin: 10px auto 20px auto;
    }
    .user-detail-header-btn-group{
        margin-top: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .user-detail-avatar{
        display:block;
        margin: 20px auto 0 auto;
    }

    .user-detail-header1{
        margin-top: 10px;
        text-align: center;
    }
    .user-detail-header2{
        text-align: center;
    }

    .user-detail-header-edit-btn {
        float:none;
        width: 200px;
        display: block;
        margin: 0 auto 15px auto;
    }
    .user-detail-header-btn-group{
        margin-top: 10px;
    }
}
