<div id="request-restore-popup-block">
    <button class="request-restore-btn-close" ng-click="$dismiss()">×</button>

    <h1 class="request-restore-popup-header">
        Send restore password request
    </h1>
    <form name="requestRestorePasswordForm" ng-submit="requestRestorePassword(requestRestorePasswordForm)" ng-validate="requestRestoreValidationOptions">
        <div class="form-group">
            <input type="email" ng-disabled="isSaving" name="email" class="form-control request-restore-input" ng-model="user.email" placeholder="Email">
        </div>
        <input type="submit" ng-disabled="isSaving" id="submit" class="request-restore-btn-submit" value="Send" />
    </form>
</div>