<div id="popup-block">
    <button class="btn-close" ng-click="$ctrl.dismiss()">×</button>

    <h1 class="popup-header">
        Login
    </h1>
    <form name="loginform" ng-submit="$ctrl.login(loginform)" ng-validate="validationOptions">
        <div class="form-group">
            <input type="email" ng-disabled="isSaving"  name="email"  class="form-control input" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" ng-disabled="isSaving"  name="password" class="form-control input" id="password" ng-model="user.password" placeholder="Password">
        </div>
        <a class="login-restore-link" ng-click="$ctrl.goRequestRestorePage()" >Restore password</a>
        <input type="submit" id="submit" ng-disabled="isSaving"  class="btn-submit" value="Login" />
    </form>
    <ul class="login-sn-icon-list">
        <li><a target="_self" href="/auth/facebook"><img class="login-sn-icon-item" src="img/ic_fb.png" alt="Facebook"></a></li>
        <li><a target="_self" href="/auth/twitter"><img class="login-sn-icon-item" src="img/ic_twitter.png" alt="Twitter"></a></li>
        <li><a target="_self" href="/auth/google"><img class="login-sn-icon-item" src="img/ic_g.png" alt="Google+"></a></li>
        <li><a target="_self" href="/auth/instagram"><img class="login-sn-icon-item" src="img/ic_inst.png" alt="Instagram"></a></li>
    </ul>
</div>
