<div>
    <section class="about">
        <h1>About us</h1>
        <p class="center-block">Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>
    </section>

    <section class="features">
        <div class="container">
            <h2 class="features-header">New featuers</h2>
            <p class="features-text center-block" >It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-4 ">
                    <div >
                        <img class="feature"  src="img/ic_login.png">
                        <p>
                            Login by email/social network
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div >
                        <img class="feature"  src="img/ic_chat.png">
                        <p>
                            Realtime chat with user that accepted you as friend
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div >
                        <img class="feature"  src="img/ic_events.png">
                        <p>
                            Create new events with photos, geo location and description
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div >
                        <img class="feature"  src="img/ic_follow.png">
                        <p>
                            Subscribe to user, to get updates in your feed
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div >
                        <img class="feature"  src="img/ic_search.png">
                        <p>
                            Search new friends
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="make-friend">
        <div class="container">
            <h2 class="make-friend-header">Make new friends</h2>
            <div class="row">
                <div class="col-xs-12 col-md-6 ">
                    <div class="size-img-md center-media">
                        <img class="img-make-friend" src="img/im_friend_profile.png">
                        <div id="line-1"></div>
                        <div id="line-2"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="shift-left">
                        <h3 class="text-left center-media">Where can I get some?</h3>
                        <p class="text-left make-friend-text center-media" >
                            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                            anything embarrassing hidden in the middle of text.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-md-6">
                    <div class="left">
                        <div class="shift-top-55">
                            <h3 class="text-right center-media">Why do we use it?</h3>
                            <p class="text-right make-friend-text center-media" >
                                Various versions have evolved over the years, sometimes by
                                accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                        <div>
                            <div class="shift-left shift-top-55">
                                <h3 class="text-right center-media">1914 translation by H. Rackham</h3>
                                <p class="text-right make-friend-text center-media" >
                                    On the other hand, we denounce with righteous indignation and dislike men
                                    who are so beguiled and demoralized by the charms of pleasure of the moment
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6 ">
                    <div class="size-img-md center-media">
                        <img class="img-make-friend" src="img/im_search_friends.png">
                        <div id="line-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row shift-top-55">
                <div class="col-xs-12 col-md-6 ">
                    <div class="size-img-sm center-media">
                        <img class="img-make-friend" src="img/im_card.png">
                        <div id="line-4"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="">
                        <h3 class="text-left clear-margin-top center-media">What is Lorem Ipsum?</h3>
                        <p class="text-left make-friend-text shift-top-15 center-media" >
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>