h1{
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.about{
    padding-top: 65px;
    height: 312px;
    background: rgba(46, 31, 93, 1) url('./img/im_header.png') no-repeat center;
    background-attachment: fixed;
    background-size: auto 600px;
    background-position-y: 0;
}

.about p{
    padding-right: 20px;
    padding-left:20px;
    color: rgba(255, 255, 255, 1);
    line-height: 27px;
    max-width: 970px;
}
.about h1{
    color: rgba(255, 255, 255, 1);
}

.features-text{
    max-width: 570px;
    color: rgba(41, 41, 41, 1);
}

.features{
    margin-bottom: 60px;
}
.features-header{
    font-size: 36px;
    margin-top: 78px;
    color: rgba(41, 41, 41, 1);
    margin-bottom: 22px;
    text-align: center;
}
.feature{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 47px;
    margin-bottom: 22px;
}

.make-friend{
    background-color: rgba(125, 112, 170, 1);
    padding-bottom: 60px;

}
.make-friend-header{
    font-size: 48px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 63px;
    margin-bottom: 50px;
}

h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.text-left{
    text-align: left;
    max-width: 400px;
}
.text-right{
    text-align: right;
    max-width: 400px;
}

.make-friend-text{
    color: rgba(255, 255, 255, 1);
    max-width: 400px;
    line-height: 24px;
    margin-bottom: 35px;
}

.img-make-friend{
    width: 100%;
}
.shift-top-55{
    margin-top: 55px;
}
.shift-top-15{
    margin-top:15px;
}

.size-img-sm{
    max-width: 425px;
}
.size-img-md    {
    max-width: 570px;
}
.clear-margin-top{
    margin-top: 0;
}
@media only screen and (min-width: 1200px) {
    .shift-left{
        margin-left: 100px;
    }
    .shift-top-55{
        margin-top: 55px;
    }
    .left{
        max-width: 700px;
        float: right;
        padding-right: 100px;
    }

    #line-1{
        z-index: 1000;
        position: absolute;
        top: 91px;
        left: 244px;
        height: 120px;
        width: 113px;
        background: url("./img/ic_line2.png") no-repeat ;
    }

    #line-2{
        z-index: 1001;
        position: absolute;
        top: 91px;
        left: 544px;
        height: 120px;
        width: 150px;
        background: url("./img/ic_line.png") no-repeat ;
    }

    #line-3{
        z-index: 1002;
        position: absolute;
        top: 272px;
        left: -57px;
        height: 120px;
        width: 150px;
        background: url("./img/ic_line1.png") no-repeat ;
    }
    #line-4{
        z-index: 1003;
        position: absolute;
        top: 23px;
        left: 167px;
        height: 120px;
        width: 465px;
        background: url("./img/ic_line3.png") no-repeat ;
    }
}

@media only screen and (max-width: 992px){
    .center-media{
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}