<div class="container event-list-container">

    <div class="row" ng-show="!events.length" >
        <div class="content-empty-placeholder">
            <span> Feed is empty...(</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div infinite-scroll="$ctrl.getNextFeed()" infinite-scroll-disabled="state.busy" >
                <div deckgrid class="deckgrid" source="events">
                    <event-item event="card"></event-item>
                </div>
                <div class="spacer" style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>


