<div>
    <button class="request-restore-btn-close" ng-click="$dismiss()">×</button>
    <h3 class="request-restore-popup-header">
        Crop image
    </h3>
    <div class="">
        <div ngf-drop ng-model="avatarFile" ngf-pattern=".jpg,.png"  class="cropArea">
            <img-crop image="avatarFile  | ngfDataUrl"
                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
                      area-type="square">
            </img-crop>
        </div>
        <div class="crop-img-preview">
            <img ng-src="{{croppedDataUrl}}" />
        </div>
        <button class="crop-img-cancel-btn" ng-click="$dismiss()">Cancel</button>
        <button class="crop-img-ok-btn" ng-click="uploadAvatar(croppedDataUrl, avatarFile.name)">Ok</button>
    </div>
</div>

