<div class="datepicker-popup">
    <div class="datepicker-popup-close-button" ng-click="$dismiss()">×</div>
    <div uib-datepicker ng-model="birthday" class="well well-md" datepicker-options="dateOptions"></div>
    <button class="datepicker-popup-delete-button" ng-click="clearBirthday()">Delete</button>
    <button class="datepicker-popup-save-button"ng-click="$close(birthday)">Ok</button>


</div>