.edit-cover{
    background: rgba(46, 31, 93, 1) no-repeat ;
    min-height: 294px;
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 5px rgba(117, 105, 157, 1);
    position: relative;
    padding: 0 0 0 0 ;
}
.edit-cover-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.upload-img{
    margin-top: -5px;
}

.upload-text{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
}

.change-bg-img-background, .change-photo-background{
    height: 47px;
    background: rgba(41, 41, 41, 0.7);
    cursor: pointer;
}

.change-bg-img-background{
       margin: 17px -15px 0 -15px;
}

.change-photo-background{
    width: 206px;
    border-radius: 0 0 5px 5px;
    margin: -49px 0 0 27px;
    position: relative;
}

.change-bg-img-link{
    width: 260px;
    height: 23px;
    margin: auto;
    padding-top: 10px;
}

.change-photo-content{
    width: 150px;
    height: 23px;
    margin: auto;
    padding-top: 10px;
}
.change-photo-form{
    height: 47px;
}
.change-photo-btn{
    height: 47px;
}

.crop-img-modal-window{
}
div.crop-img-modal-window > div.modal-dialog {
    width: 700px !important;
}
div.crop-img-modal-window > div.modal-dialog > div.modal-content{
    padding: 20px !important;
}

.edit-avatar{
    height: 210px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1) ;
    background-color: rgba(255, 255, 255, 1);
    margin: 25px 0 0 25px;
}

.edit-profile-page-content{
    padding-bottom: 120px;
}

.edit-profile-remove-avatar-btn, .edit-profile-remove-cover-btn{
    position: absolute;
    top: -150px;
    right:10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
    color: rgba(255, 255, 255, 1);
    background: rgba(41, 41, 41, 0.7);
    border: 1px solid rgba(252, 251, 255, 1);
    border-radius: 30px;
    cursor: pointer;
}

.edit-profile-remove-cover-btn{
    top: 15px;
    right:15px;
}
.edit-profile-remove-avatar-btn:hover, .edit-profile-remove-cover-btn:hover{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    color: rgba(41, 41, 41, 1);
    border-radius: 20px;
}

.profile-header1, .profile-header2{
    color: rgba(255, 255, 255, 1);
    text-align: left;

}

.profile-header1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 130px;
}

.profile-header2 {
    font-size: 18px;
    margin-top: 0;
}

.header-save-btn{
    float:right;
    min-height: 40px;
    padding: 2px 25px 2px 25px;
    font-weight: 500;
    background-color: rgba(198, 134, 209, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    margin-top: 28px;
    margin-right: 70px;
    border:none;
    outline: none;
    font-size: 18px;
    text-align: center;
}

.header-save-btn:hover,.datepicker-popup-save-button:hover{
    background-color: rgb(209, 105, 153);
}

.edit-form-container{
    max-width: 400px;
    margin: 45px auto 0 auto;
    background-color: rgba(251, 251, 253, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 5px;
    padding: 10px;
}
.edit-container-header{
    font-size: 18px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
    margin-top: 0;
    text-align: center;
}
.edit-container-header-block{
    margin: 0 15px 20px 15px;
    height: 40px;
    border-bottom: 2px solid rgba(210, 206, 226, 1);
}

.edit-profile-input{
    height: 38px;
    background-color: rgba(252, 251, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 20px;
    font-size: 18px;
    color: rgba(41, 41, 41, 1);
}
.edit-profile-input:focus{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    border-radius: 20px;
}
.edit-profile-input-location:focus, .edit-profile-input-gender:focus{
    background-color: rgba(252, 251, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 20px;
}

.edit-profile-input-location, .edit-profile-input-gender, .edit-profile-input-birthday{
    cursor: pointer;
}
.edit-profile-label{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(90, 90, 90, 0.84);
    text-align: left;
}
.form-group-location, .form-group-gender{
    position: relative;
}
.edit-profile-btn-triangle{
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;	border-top: 10px solid rgba(255, 255, 255, 1);
}
.edit-profile-select-btn{
    height: 38px;
    width: 38px;
    display: inline-block;
    float: right;
    margin-top: -38px;
    padding: 15px 6px ;
    border-radius: 0 20px 20px 0;
    background-color: rgba(210, 206, 226, 1);
    cursor: pointer;

}

.edit-profile-select-body{
    overflow-y: scroll;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 175px;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid rgba(210, 206, 226, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px 15px 5px 5px;
    cursor: pointer;
}

.select-gender-body{
    height: 137px;
}

.edit-profile-item{
    font-size: 18px;
    color: rgba(41, 41, 41, 1);
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
}

.edit-profile-item-active{
    font-weight: 700;
}
.edit-profile-item-checked{
    float: right;
    width: 30px;
    height: 20px;
    background: url('./img/ic_check.png') no-repeat center;
}

.edit-profile-item:last-child{
    margin-bottom: 0;
}

.datepicker-popup-close-button{
    position: absolute;
    top: 10px;
    right:10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding-top: 0;
    padding-left: 8px;
    margin-bottom: 10px;
    background-color: rgba(252, 251, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 30px;
    cursor: pointer;
}
.datepicker-popup-save-button, .datepicker-popup-delete-button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
.datepicker-popup-delete-button{
    color: rgba(200, 109, 215, 1);
    border: 2px solid rgba(200, 109, 215, 1);
    background-color: rgba(255, 255, 255, 1);

}

.datepicker-popup-save-button{
    float: right;
    background-color: rgba(198, 134, 209, 1);
    color: rgba(255, 255, 255, 1);
    border:none;

}

.uib-daypicker{
    outline: none;
}
.datepicker-popup-close-button:hover{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    border-radius: 20px;
}

table{
    margin: 0 auto;
}

.btn-sm {
    padding: 12px 14px ;
    font-size: 14px;
    border-radius: 0;
}

.pull-right, .pull-left {
    border: none;
}

.btn-default {
    border-color:  rgb(210, 206, 226) ;
}

.btn-default:hover {

    background-color: rgb(210, 206, 226) ;
    border-color:  rgb(210, 206, 226) ;
}

.btn-info:active {

    height: 43px;
    width: 33px;
    background-color: rgb(198, 134, 209);
    border-radius: 33px;
}

.btn-info:active, .btn-info.active {
    height: 43px;
    width: 33px;
    border-radius: 50%;
    background-color:  rgb(198, 134, 209);
    border-color: rgb(198, 134, 209);
}


.btn-info.active:hover{
    background-color:  rgb(198, 134, 209);
    border-color: rgb(198, 134, 209);
}

.well{
    padding-top: 37px;
}

.uib-datepicker .uib-title {
    border: none;
    font-size: 1.333em;
}

small, .small {
    font-size: 0.889em;
    display: block;
    padding: 19px 0;
    border-top: 2px solid rgb(210, 206, 226);
    font-weight: normal;
    text-transform: uppercase;
}


@media only screen and (max-width: 768px) {
    div.crop-img-modal-window > div.modal-dialog {
        width: 540px !important;
    }
    .edit-avatar{
        display:block;
        margin: 20px auto 0 auto;
    }
    .change-photo-background{
        margin: -49px auto 0 auto;
    }
    .profile-header1{
        margin-top: 10px;
        text-align: center;
    }
    .profile-header2{
        text-align: center;
    }

    .header-save-btn {
        float:none;
        width: 200px;
        display: block;
        margin: 0 auto 15px auto;
    }
}

@media only screen and (max-width: 540px) {
    div.crop-img-modal-window > div.modal-dialog {
        width: 300px !important;
    }
    div.crop-img-modal-window > div.modal-dialog > div.modal-content{
        padding: 10px !important;
    }
}

.cropArea {
    /*background: #E4E4E4;*/
    overflow: hidden;
    min-width: 300px;
    height:350px;
}

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    /*overflow: hidden;*/
}
img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}
.crop-img-preview{
    width: 202px;
    margin: 10px auto 50px auto;
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 5px;
}

.crop-img-ok-btn{
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-weight: 500;
    height: 30px;
    width: 100px;
    background-color: rgba(198, 134, 209, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border:none;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.crop-img-cancel-btn{
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-weight: 500;
    height: 30px;
    width: 117px;
    color: rgba(200, 109, 215, 1);
    border: 2px solid rgba(200, 109, 215, 1);
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    font-size: 18px;
    text-align: center;
}

