<div class="edit-profile-page-content">
    <div class="edit-cover" ng-style="coverStyle">
        <div class="edit-cover-mask container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <img class="edit-avatar" src="{{user.avatar}}"  alt="Avatar">
                        <form name="avatarForm" class="change-photo-background change-photo-form">
                            <div type="file" name="file" class="change-photo-btn"  ngf-select="$ctrl.openCrop(f)" ng-model="f"
                                 accept="image/*"
                                 ngf-pattern={{IMG_PATTERN}} ngf-max-size={{MAX_IMG_SIZE}}
                                 ngf-min-width={{MIN_IMG_WIDTH}} ngf-min-height={{MIN_IMG_HEIGHT}}
                                 ngf-model-invalid="errorFile">
                                <div class="change-photo-content">
                                    <img class="upload-img" src="img/ic_photo.png" alt="">
                                    <span class="upload-text">Change photo</span>
                                </div>
                            </div>
                            <div class="edit-profile-remove-avatar-btn" ng-show="!conditions.isDefaultAvatar" ng-click="$ctrl.removeAvatar()" >×</div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4" >
                        <h1 class="profile-header1" >{{ user.firstname}} {{user.lastname}}</h1>
                        <h2 class="profile-header2">
                            <span ng-show="user.gender">{{user.gender}}<span ng-show="user.birthday">, </span></span>
                            <span ng-show="user.birthday"> Birthday {{user.birthday | date : 'dd MMMM yyyy'}}</span>
                        </h2>
                        <h2 class="profile-header2" ng-show="user.city">{{ user.country}}, {{user.city}}</h2>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-5">
                        <button class="header-save-btn" ng-click="$ctrl.saveUserInfo(accountForm, passwordForm)">Save changes</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form name="coverForm" class="change-bg-img-background">
                            <div type="file" name='coverFile' class="change-photo-btn" ngf-select="$ctrl.uploadCoverImage(coverFile)"
                                 ng-model=" coverFile" accept="image/*"
                                 ngf-pattern={{IMG_PATTERN}} ngf-max-size={{MAX_IMG_SIZE}}
                                 ngf-min-width={{MIN_IMG_WIDTH}} ngf-min-height={{MIN_IMG_HEIGHT}}
                                 ngf-model-invalid="errorCoverFile">
                                <div class="change-bg-img-link">
                                    <img class="upload-img" src="img/ic_image.png" alt="">
                                    <span class="upload-text">Change background image</span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
        <div class="edit-profile-remove-cover-btn" ng-show="!conditions.isDefaultCover" ng-click="$ctrl.removeCover()" >×</div>
    </div>

    <div class="container">
        <div class="row">
            <div ng-class="{'col-xs-12 col-sm-6 col-md-5 col-md-offset-1': user.isSocialAccount, 'col-xs-12 col-sm-6 col-md-4': !user.isSocialAccount}">
                <div class="edit-form-container">
                    <div class="edit-container-header-block">
                        <h3 class="edit-container-header">Details</h3>
                    </div>
                    <form>
                        <div class="form-group form-group-location">
                            <label  class="edit-profile-label">Location</label>
                            <input id="edit-profile--location" class="form-control edit-profile-input" type="text" >
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label " >Birthday</label>
                            <div class="form-control edit-profile-input edit-profile-input-birthday"  ng-click="$ctrl.openModalDataPicker()">
                                {{user.birthday | date:'mediumDate'}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-class="{'col-xs-12 col-sm-6 col-md-5': user.isSocialAccount, 'col-xs-12 col-sm-6 col-md-4': !user.isSocialAccount}">
                <div class="edit-form-container">
                    <div class="edit-container-header-block">
                        <h3 class="edit-container-header">Account data</h3>
                    </div>
                    <form name="accountForm" ng-validate="accountValidationOptions">
                        <div class="form-group">
                            <label  class="edit-profile-label" >First name</label>
                            <input name="firstname" class="form-control edit-profile-input" ng-model="user.firstname" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label" >Last name</label>
                            <input name="lastname" class="form-control edit-profile-input" ng-model="user.lastname"  placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label">Username</label>
                            <input name="username" class="form-control edit-profile-input" ng-model="user.username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label" >Email</label>
                            <input name="email" type="email" class="form-control edit-profile-input" ng-model="user.email" placeholder="Email">
                        </div>
                        <div class="form-group form-group-gender">
                            <label  class="edit-profile-label" >Gender</label>
                            <div class="form-control edit-profile-input edit-profile-input-gender" ng-click="$ctrl.showGenderList()" ng-model="user.gender">
                                <span ng-show="user.gender">{{user.gender}}</span>
                            </div>

                            <div class="edit-profile-select-btn" ng-click="$ctrl.showGenderList()">
                                <div class="edit-profile-btn-triangle"></div>
                            </div>

                            <ul class="edit-profile-select-body select-gender-body" ng-show="conditions.isShowedGenderList">
                                <li class="edit-profile-item" ng-repeat="gender in genders" ng-click="$ctrl.setGender(gender)">
                                    <span ng-class="{'edit-profile-item-active': gender.condition}" >
                                        {{ gender.name }}
                                        <span ng-show="!gender.name">Not selected</span>
                                    </span>
                                    <span class="edit-profile-item-checked" ng-show="gender.condition"></span>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" ng-show="!user.isSocialAccount">
                <div class="edit-form-container">
                    <div class="edit-container-header-block">
                        <h3 class="edit-container-header">Change password</h3>
                    </div>
                    <form name="passwordForm" ng-validate="passwordValidationOptions">
                        <div class="form-group">
                            <label  class="edit-profile-label">Current password</label>
                            <input name="current_password" id="current_password" type="password" ng-model="passwords.currentPassword" class="form-control edit-profile-input">
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label">New password</label>
                            <input name="new_password" id="new_password" type="password" ng-model="passwords.newPassword"  class="form-control edit-profile-input">
                        </div>
                        <div class="form-group">
                            <label  class="edit-profile-label">Confirm password</label>
                            <input name="confirm_new_password" id="confirm_new_password" type="password" ng-model="passwords.confirmNewPassword"  class="form-control edit-profile-input" >
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

