<div class="event-item--a-card">
    <button class="btn-close event-item--btn-close" ng-show="isOwnerPage" ng-click="$ctrl.removeEvent()">×</button>
    <img src="https://s3-eu-west-1.amazonaws.com/internal-web-bucket/common/ic_message.png" class="event-item--btn-message"
         ng-show="isFeedPage" ng-click="$ctrl.goToChat($ctrl.event.user)" alt="">
    <div class="">
        <img src=""  data-ng-src="{{$ctrl.event.user.avatar}}" alt="" class="event-item--user-avatar" ng-click="$ctrl.goToProfile($ctrl.event.user.id)">
        <div class="event-item--user-info-container">
            <h3 class="event-item--header1" ng-click="$ctrl.goToProfile($ctrl.event.user.id)">{{$ctrl.event.user.firstname}} {{$ctrl.event.user.lastname}}</h3>
            <h3 class="event-item--header2" ng-show="true">{{$ctrl.event.createdAt | date:"d LLLL 'at' HH:mm"}}</h3>
        </div>
    </div>

    <h3 class="event-item--description">{{$ctrl.event.description}}</h3>
    <img src="" data-ng-src="{{$ctrl.event.map }}" ng-show="$ctrl.event.lat" ng-click="$ctrl.openMapPopup($ctrl.event.lat, $ctrl.event.lng)" alt="" class="event-item--map">
    <div class="event-item--photos-container">
        <img ng-class="{'event-item--photo3': photos1.length==3, 'event-item--photo2': photos1.length==2, 'event-item--photo1': photos1.length==1}"
             src="" ng-repeat="photo in photos1" data-ng-src="{{photo}}" ng-click="$ctrl.openGalleryPopup($index)">
        <img ng-class="{'event-item--photo3': photos2.length==3, 'event-item--photo2': photos2.length==2, 'event-item--photo1': photos2.length==1}"
             src="" ng-repeat="photo in photos2" data-ng-src="{{photo}}" ng-click="$ctrl.openGalleryPopup($index+3)">
    </div>
</div>
