.event-item--a-card {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(235, 226, 236, 1);
    padding: 10px;
    margin: 10px;
    min-height: 120px;
}

.event-item--user-info-container{
    display: inline-block;
    margin-right: 25px;
}
.event-item--user-avatar{
    width: 78px;
    height: 78px;
    margin-right: 15px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 5px;
    cursor: pointer;
}
.event-item--header1{
    cursor: pointer;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
}
.event-item--header1:hover{
    color: rgb(76, 68, 102)
}
.event-item--header2{
    margin-top: 0;
    font-size: 16px;
    color: #ababac;
    text-align: left;
}
.event-item--btn-close{
    position: absolute;
    top: 10px;
    right:10px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    padding-top: 0;
    background-color: rgba(210, 206, 226, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    outline: none;
}
.event-item--btn-message{
    position: absolute;
    top: 10px;
    right:10px;
    height: 20px;
    width: 30px;
    cursor: pointer;
}
.event-item--btn-message:hover{
    opacity: 0.6;
}

.event-item--btn-close:hover{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    color: rgb(32, 10, 25);
    border-radius: 20px;
}
.event-item--description{
    padding: 10px 0 10px 0;
    margin:0;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    text-align: left;
}

.event-item--map{
    width: 100%;
    cursor: pointer;
}
.event-item--photos-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9px 14px;
}

.event-item--photo1,  .event-item--photo2, .event-item--photo3{
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    height: 160px;
    object-fit: cover;
    cursor: pointer;
}

.event-item--photo3{
    width: 32%;
}

.event-item--photo2{
    width: 49%;
}

.event-item--photo1{
    width: 100%;
    height: 238px;
}

.gallery-modal-window{

}
div.gallery-modal-window > div.modal-dialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    max-width: 1200px;
}
div.gallery-modal-window > div.modal-dialog > div.modal-content {
    width:100%;
    margin: 10px
}

.gallery-popup {
    padding: 20px;
}

.gallery-popup--close-button {
     position: absolute;
     top: 5px;
     right: 5px;
     width: 24px;
     height: 23px;
     background: url("img/ic_cross.png") center no-repeat;
     cursor: pointer;
}

.gallery-popup--title{
     font-size: 1.333em;
     font-weight: 500;
     text-align: center;
 }

.gallery-popup--row{
     height: 2px;
     width: 100%;
     background-color:  #d2cee2;
 }

.gallery-popup--description{
     margin: 25px 0;
 }


.gallery--wrapper{
     width: 100%;
     height: 500px;
 }

.gallery--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
 }

.rn-carousel-control{
    font-size: 6rem;
    top: 48%;
}

.rn-carousel-control.rn-carousel-control-next:before {
    content: url("img/ic_arrow_next.png");
}

.rn-carousel-control.rn-carousel-control-prev:before  {
    content: url("img/ic_arrow_back.png");
}


@media screen and (max-width: 1199px) {
    .event-item--photo3, .event-item--photo2{
        height: 130px;
    }
    .event-item--photo1{
        height: 190px;
    }
}
@media screen and (max-width: 991px) {
    .event-item--photo3, .event-item--photo2{
        height: 96px;
    }
    .event-item--photo1{
        height: 140px;
    }
}

@media screen and (max-width: 599px) {
    .event-item--photo3, .event-item--photo2{
        height: 160px;
    }
    .event-item--photo1{
        height: 230px;
    }
}

@media screen and (max-width: 500px) {
    .event-item--photo3, .event-item--photo2{
        height: 96px;
    }
    .event-item--photo1{
        height: 130px;
    }
}
@media screen and (max-width: 380px) {
    .event-item--photo3, .event-item--photo2{
        height: 76px;
    }
    .event-item--photo1{
        height: 110px;
    }
}
