<div class="gallery-popup">
    <div class="gallery-popup--close-button" ng-click="$dismiss()"></div>
    <h2 class="gallery-popup--title">Image preview</h2>
    <div class="gallery-popup--row"></div>

    <div class="gallery-popup--description">{{eventDescription}}</div>

    <ul rn-carousel rn-carousel-controls rn-carousel-indicator rn-carousel-index="{{imageIndex}}" class="gallery--wrapper">
        <li class="gallery--item" ng-repeat="image in eventImages">
            <img class="gallery--image" ng-src="{{image}}" alt="event image">
        </li>
    </ul>

</div>