.content-empty-placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #ababac;
}
.chat-list-empty-placeholder{
    margin-top: 55px;
}