<div>
    <div class="row" ng-show="!chats.length" >
        <div class="content-empty-placeholder chat-list-empty-placeholder">
            <span> You don't have any chats</span>
        </div>
    </div>
    <div infinite-scroll="$ctrl.getNextChats()" infinite-scroll-disabled="isBusy" >
        <chat-item ng-repeat="chat in chats" chat=chat></chat-item>
        <div class="spacer" style="clear: both;"></div>
    </div>
</div>
