<div class="container event-list-container">
    <div class="row" ng-show="isOwnerPage">
        <div class="col-xs-12">
            <div class="event-list--create-event-container">
                <form name="descriptionForm" ng-validate="descriptionValidationOptions">
                    <textarea name="description" class="event-list--description-input" ng-model="newEvent.description" placeholder="What’s new?" rows="3" ></textarea>
                </form>
                <p class="event-list--location-label">Location</p>
                <img src="https://s3-eu-west-1.amazonaws.com/internal-web-bucket/common/ic_location.png" alt=""
                     ng-click="$ctrl.openMapPopup()" class="event-list-ic-location">
                <div class="event-list--input-location-container">
                    <input id="event-list--place-location" type="text" ng-model="placeLocation" >
                    <div class="event-list--input-select-btn">
                        <div class="event-list--input-btn-triangle"></div>
                    </div>
                </div>
                <div class="event-list--create-event-wrapper">
                    <div class="event-list--upload-img-container">
                        <div ng-show="!newEvent.photos.length" class="event-list--upload-img-placeholder"></div>
                        <div ng-repeat="photo in newEvent.photos" class="event-list--uploaded-img-container">
                            <div class="event-list--btn-close" ng-show="">Remove</div>
                            <img src="{{photo.file}}"  class="event-list--uploaded-img"
                                 ng-mouseenter="status.hoverPhoto=true" ng-mouseleave="status.hoverPhoto=false"/>
                        </div>
                        <button type="file" name='file' ngf-select="$ctrl.uploadImage(file)" class="event-list--upload-img-btn"
                                ng-model="file" accept="image/*"
                                ngf-pattern={{IMG_PATTERN}} ngf-max-size={{MAX_IMG_SIZE}}
                                ngf-min-width={{MIN_IMG_WIDTH}} ngf-min-height={{MIN_IMG_HEIGHT}}
                                ngf-model-invalid="errorFile" ng-show="newEvent.photos.length<6">+
                        </button>
                    </div>
                    <button class="event-list--create-event-btn" ng-click="$ctrl.saveEvent(descriptionForm)">Create event</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row" ng-show="!events.length" >
        <div class="content-empty-placeholder">
            <span> You don't have any events</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div infinite-scroll="$ctrl.getNextEvents()" infinite-scroll-disabled="state.busy" >
                <div deckgrid class="deckgrid" source="events">
                    <event-item event="card"></event-item>
                </div>
                <div class="spacer" style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>


