.event-list-container{
    padding-top: 40px;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-1 {
    width: 100%;
}

.deckgrid .column-1-2 {
    width: 50%;
}

.deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
    font-size: 0;
    visibility: hidden;
}

@media screen and (min-width: 600px) {
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }
}

.event-list--create-event-container{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(235, 226, 236, 1);
    margin: 0 10px 30px 10px;
    padding: 15px;
}

.event-list--description-input{
    resize: none;
    width: 100%;
    background-color: rgba(253, 253, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 5px;
    margin: 8px 0 0px 0;
    padding: 5px;
    font-size: 18px;
}

.event-list--location-label{
    font-size: 14px;
    font-weight: 600;
    color: rgb(172, 172, 172);
    text-align: left;
    margin: 0 0 0 5px;
}

.event-list-ic-location{
    margin: 0 5px 0 5px;
}
.event-list--input-location-container{
    position: relative;
    display: inline-block;
}

#event-list--place-location{
    height: 38px;
    width: 340px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 18px;
    color: rgba(41, 41, 41, 1);
    text-align: left;
}

.event-list--input-btn-triangle{
    width: 0;
    height: 0;
    border: 10px solid transparent;	border-top: 10px solid rgba(255, 255, 255, 1);
}

.event-list--input-select-btn{
    position: absolute;
    height: 38px;
    width: 38px;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 15px 6px ;
    border-radius: 0 20px 20px 0;
    background-color: rgba(210, 206, 226, 1);
    cursor: pointer;
}

.event-list--upload-img-container, .event-list--create-event-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.event-list--create-event-wrapper{
    justify-content: space-between;
}

.event-list--uploaded-img, .event-list--upload-img-placeholder{
    margin: 10px 5px 10px 10px;
    height: 86px;
    width: 86px;
    object-fit: cover;
    border-radius: 5px;
}
.event-list--uploaded-img-container{
    position: relative;
}

.event-list--upload-img-placeholder{
    border: 1px dashed rebeccapurple;
}

.event-list--create-event-btn,.event-list--upload-img-btn{
    background-color: rgba(198, 134, 209, 1);
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border:none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.event-list--upload-img-btn{
    padding: 0;
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    font-size: 30px;
}
.event-list--upload-img-btn:hover, .event-list--create-event-btn:hover{
    background-color: rgb(209, 105, 153);
}

.event-list--create-event-btn{
    min-height: 40px;
    padding: 2px 25px 2px 25px;
    border-radius: 20px;
    font-size: 18px;
}

.event-list--btn-close{
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;
    height: 22px;
    width: 86px;
    font-size: 16px;
    padding: 0;
    background-color: rgba(55, 54, 59, 0.7);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px 5px 0 0;
    outline: none;
    text-align: center;
}
.event-list--btn-close:hover{
    background-color: rgba(252, 251, 255, 0.7);
    border: 1px solid rgba(117, 105, 157, 1);
    color: rgb(32, 10, 25);
    cursor: pointer;
}
.event-list-ic-location:hover{
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    #event-list--place-location{
        width: 100%;
    }
    .event-list-ic-location{
        display: inline-block;
    }
}

div.event-list--create-event-container label.error {
    font-size: 12px;
    font-weight: 500;
    color: rgb(227, 48, 76);
    text-align: left;
    margin: 0 0 0 10px;

}

