.friends-list-pag-info{
    font-size: 18px;
    color: #ababac;
    text-align: left;
    margin-left: 25px;
}

.friends-list-input-group{
    padding-top: 50px;
    padding-bottom: 50px;
}

.friends-list-input{
    position:relative;
    height: 38px;
    width: 100%;
    padding-left: 20px;
    color: rgba(167, 167, 167, 1);
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 19px;
    margin-bottom: 15px;
    outline:none;

}
.friends-list-right-input-btn{
    position:absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 45px;
    padding: 7px 0 0 9px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(210, 206, 226, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    cursor: pointer;
}

.friend-list-triangle{
    position: absolute;
    margin-top: 7px;
    width: 0;
    height: 0;
    border: 10px solid transparent;	border-top: 10px solid rgba(255, 255, 255, 1);
}

.friends-list-input-text{
    padding-top: 5px;
}

.friends-list-input-text-selected{
    color: rgba(41, 41, 41, 1);

}

.friends-list-item{
    font-size: 18px;
    color: rgba(41, 41, 41, 1);
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.friends-list-select-body{
    overflow-y: scroll;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(210, 206, 226, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px 15px 5px 5px;

}

.friends-list-item-active{
    font-weight: 700;
}

.friends-list-item-checked{
    float: right;
    width: 30px;
    height: 20px;
    background: url('./img/ic_check.png') no-repeat center;
}

.friends-list-item:last-child{
    margin-bottom: 0;
}

.friends-list-item-btn{
    cursor: pointer;
}

.users-list--pagin-center{
    height: 100px;
    position: relative;
}

.users-list--pagin-center .pagination {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}