<div class="container">
    <div class="row friends-list-input-group">
        <div class="col-xs-12 col-md-4">
            <form name="searchForm" ng-validate="searchValidationOptions" ng-submit="$ctrl.setSearchName(searchForm)">
                <input name="searchString" class="friends-list-input" ng-model="name" ng-focus="$ctrl.hideLists()" autofocus type="text" placeholder="Search">
                <div class="friends-list-right-input-btn" ng-click="$ctrl.setSearchName(searchForm)">
                    <img src="img/ic_search.png" alt="">
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-md-3">
            <div class="friends-list-item-btn" ng-click="$ctrl.showGenderList()">
                <div class="friends-list-input friends-list-input-text" ng-model="gender">
                    <span class="friends-list-input-text-selected">{{gender}}</span>
                    <span ng-show="!gender">Gender</span>
                </div>
                <div class="friends-list-right-input-btn">
                    <div class="friend-list-triangle"></div>
                </div>
            </div>

            <ul class="friends-list-select-body friends-list-body" ng-show="conditions.isShowedGenderList">
                <li class="friends-list-item" ng-repeat="gender in genders" ng-click="$ctrl.setGender(gender)">
                    <span ng-class="{'friends-list-item-active': gender.condition}" >
                        {{ gender.name }}
                        <span ng-show="!gender.name">Not selected</span>
                    </span>
                    <span class="friends-list-item-checked" ng-show="gender.condition"></span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="friends-list-item-btn" ng-click="$ctrl.showAgeList()">
                <div class="friends-list-input friends-list-input-text" ng-model="age">
                    <span class="friends-list-input-text-selected">{{age}}</span>
                    <span ng-show="!age">Age</span>
                </div>
                <div class="friends-list-right-input-btn">
                    <div class="friend-list-triangle"></div>
                </div>
            </div>
            <ul class="friends-list-select-body friends-list-body" ng-show="conditions.isShowedAgeList">
                <li class="friends-list-item" ng-repeat="age in ageList" ng-click="$ctrl.setAge(age)">
                    <span ng-class="{'friends-list-item-active': age.condition}" >
                        {{ age.name }}
                        <span ng-show="!age.name">Not selected</span>
                    </span>
                    <span class="friends-list-item-checked" ng-show="age.condition"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" ng-show="!totalItems" ng-click="$ctrl.hideLists()">
        <div class="col-xs-12 col-md-6">
            <p class="friends-list-pag-info">Users not found...(</p>
        </div>
    </div>

    <div class="row" ng-show="totalItems" ng-click="$ctrl.hideLists()">
        <div class="col-xs-12 col-md-6">
            <p class="friends-list-pag-info">Show {{currentItemsCount}} of {{totalItems}} friends</p>
        </div>
    </div>
    <div class="row" ng-click="$ctrl.hideLists()">
        <user-item ng-repeat="user in users" user=user data="$ctrl.genders" show="name"></user-item>
    </div>
    <div class="row" ng-show="totalItems" ng-click="$ctrl.hideLists()">
        <div class="users-list--pagin-center">
            <ul uib-pagination boundary-links="true" direction-links="false" total-items="totalItems"
                ng-model="currentPage" ng-change="$ctrl.setPage()" max-size="maxSize"  first-text="&laquo;"
                items-per-page="ITEMS_LIMIT" last-text="&raquo;"
                class="pagination-sm" >
            </ul>
        </div>
    </div>
</div>