html, body, .wrapper{
  height: 100%;
}

a{
  outline: none;
}

.main-bar {
  height: 60px;
  background-color: rgba(117, 105, 157, 1);
  box-shadow: 0px 1px 4px 0px rgba(91, 79, 132, 1);
  margin-bottom: 0;
  border-radius: 0px;
  z-index: 1;
  border:none;
}

.navbar-brand{
  margin-left: 96px;
  margin-top: 10px;
  display:inline-block;
  padding-top: 0;
  outline: none !important;
}

.app-header-btn{
  height: 40px;
  width: 123px;
  margin-right: 44px;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  outline: none !important;
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: transparent;

}
.app-header-btn:hover{
  background-color: rgba(255, 255, 255, 1);
  color: rgba(125, 112, 170, 1) !important;
}

.app-header-btn:focus{
  color: rgba(255, 255, 255, 1);
}

.navbar-right{
  margin-right: 35px;
}
.inline-block{
  display:inline-block;
  float:right;
}

.navbar-collapse{
  background-color: rgba(117, 105, 157, 1);
}

.navbar-toggle{
  margin: 13px 20px 0 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(125, 112, 170, 1) !important;
}

.menu-item{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #c7c3d7 !important;
  text-align: center;
}


.active-menu-item{
  color: rgba(255, 255, 255, 1) !important;

}
.active-menu-item::after{
  content: '.';
  position: absolute;
  font-weight: 600;
  color: rgba(255, 255, 255, 1) ;
  z-index: 110;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 20px;
}

.indent{
  margin-left: 90px;
}

a.menu-item-img{
  cursor: pointer;
}
.menu-item-img{
  margin-left: 65px;
}
@media only screen and (max-width: 500px){
  app-header-btn{
    height: 40px;
    width: 90px;
    margin-right: 15px;
    border-radius: 17px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .inline-block, .navbar-brand{
    margin-right: 15px;
  }
  .navbar-brand{
    margin-left: 15px;
  }
}

@media only screen and (max-width: 992px){

  .inline-block, .navbar-brand{
    margin-right: 15px;
  }
}



@media only screen and (min-width: 1120px){
  .menu-item-img{
    margin-left: 70px;
  }

  .menu-item{
    margin-left: 114px;
  }
}

@media only screen and (max-width: 1120px){

  .menu-item{
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1300px){

  .indent {
    margin-left: 280px;
  }
}

@media only screen and (max-width: 888px) {
  .indent {
    margin-left: 20px;
  }
  .menu-item{
    margin-left: 20px !important;
  }
}

.ngn {
  color: #FFF;
  cursor: default;
  display: block;
  font-size: 1em;
  top: 75px !important;
  max-width: 85%;
  text-align: center;
  opacity: 1;
  padding: 0 20px;
  position: fixed;
  line-height: 43px;
  border-radius: 17px;
  left: auto;
  right: 30px !important;
  text-align: center;
}

