<nav class="navbar navbar-default main-bar" role="navigation">
    <div class="navbar-header">
        <button type="button"  class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Amberstone" src="img/ic_cloud.png"></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        <div ng-show="!$ctrl.isAuth()"  class="inline-block">
            <a ng-show="isNavCollapsed" href="#"><button ng-click="$ctrl.openLoginPopup()" class="btn app-header-btn">Login</button></a>
            <a ng-show="isNavCollapsed" href="#"><button ng-click="$ctrl.openRegisterPopup()"  class="btn app-header-btn">Register</button></a>
        </div>

        <ul ng-show="!$ctrl.isAuth()" class="nav navbar-nav navbar-right">
            <li ng-show="!isNavCollapsed"><a  ng-click="$ctrl.openLoginPopup()" class="menu-item" >Login</a></li>
            <li ng-show="!isNavCollapsed"><a ng-click="$ctrl.openRegisterPopup()"  class="menu-item" >Register</a></li>
        </ul>

        <ul ng-show="$ctrl.isAuth()" class="nav navbar-nav navbar-right">
            <li><a class="menu-item"   ui-sref="feed"  ui-sref-active="active-menu-item">Feed</a></li>
            <li><a class="menu-item" ui-sref="chats.list" ui-sref-active="active-menu-item" >Messages</a></li>
            <li><a class="menu-item" ui-sref="user.friends({ userId: 'me' })"  ui-sref-active="active-menu-item">Profile</a></li>
            <li ng-show="!isNavCollapsed"><a class="menu-item"   ui-sref="search">Users</a></li>
            <li ng-show="!isNavCollapsed"><a ng-click="$ctrl.logout()" class="menu-item">Logout</a></li>
            <li ng-show="isNavCollapsed">
                <a class="menu-item-img indent" ui-sref="search" ui-sref-active="active-menu-item">
                    <img alt=Search src="img/ic_search.png">
                </a>
            </li>
            <li ng-show="isNavCollapsed">
                <a ng-click="$ctrl.logout()" class="menu-item-img" >
                    <img alt=Logout src="img/ic_sing_out.png">
                </a>
            </li>
        </ul>
    </div>
</nav>