 <div id="restore-popup-block">
    <button class="restore-btn-close" ng-click="$dismiss()">×</button>

    <h1 class="restore-popup-header">
        Restore password
    </h1>
    <form name="restorePasswordForm" ng-submit="restorePassword(restorePasswordForm)" ng-validate="restoreValidationOptions">
        <div class="form-group">
            <input type="email" ng-disabled="isSaving" name="email" class="form-control restore-input" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" ng-disabled="isSaving" name="password" class="form-control restore-input" id="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" ng-disabled="isSaving" name="confirm_password" class="form-control restore-input" ng-model="user.confirm_password" placeholder="Confirm password">
        </div>
        <input type="submit" ng-disabled="isSaving" id="submit" class="restore-btn-submit" value="Restore" />
    </form>
</div>