.restore-modal-window{
}
div.restore-modal-window > div.modal-dialog {
    width: 370px;
    margin: 161px auto ;
}
.restore-popup-header{
    font-size: 20px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
    text-align: center;
}

.restore-input{
    height: 40px;
    width: 287px;
    background-color: rgba(252, 251, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 20px;
    margin: 27px auto 0 auto;
}
.restore-input:focus{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    border-radius: 20px;
}

.restore-btn-submit{
    height: 40px;
    width: 282px;
    background-color: rgba(198, 134, 209, 1);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin: 45px auto 35px auto;
    display: block;

}
.restore-btn-close{
    position: absolute;
    top: 10px;
    right:10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding-top: 0;
    background-color: rgba(252, 251, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 30px;
}

.restore-btn-close:hover{
    background-color: rgba(252, 251, 255, 1);
    border: 2px solid rgba(117, 105, 157, 1);
    border-radius: 20px;
}

