<div id="popup-block">
    <button class="btn-close" ng-click="$ctrl.dismiss()">×</button>

    <h1 class="popup-header">
        Registration
    </h1>
    <form name="registerform"  ng-submit="$ctrl.register(registerform)" ng-validate="validationOptions">
        <div class="form-group">
            <input type="email" ng-disabled="isSaving" name="email" class="form-control input" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" ng-disabled="isSaving" name="username" class="form-control input" ng-model="user.username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" ng-disabled="isSaving" name="firstname" class="form-control input" ng-model="user.firstname" placeholder="Firstname">
        </div>
        <div class="form-group">
            <input type="text" ng-disabled="isSaving" name="lastname" class="form-control input" ng-model="user.lastname" placeholder="Lastname">
        </div>
        <div class="form-group">
            <input type="password" ng-disabled="isSaving" name="password" class="form-control input" id="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" ng-disabled="isSaving" name="confirm_password" class="form-control input" id="confirm_password" ng-model="user.confirm_password" placeholder="Confirm password">
        </div>
        <input type="submit" ng-disabled="isSaving" id="submit" class="btn-submit" value="Sign Up" />
    </form>
</div>
