<div >
    <button class="btn-close" ng-click="$ctrl.dismiss()">×</button>
    <div class="google-map--popup-header-container">
        <span>Event near this place</span>
    </div>
    <div class="google-map--map-body-wrapper">
        <div id="google-map--map-body"  ng-style="mapStyle"></div>
    </div>

</div>
