.google-map-modal-window{

}

.google-map--popup-header-container{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin: 20px 30px 5px 30px;
    box-shadow: 0 5px 5px -4px rgba(210, 206, 226, 1);
    font-size: 24px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
}
div.google-map-modal-window > div.modal-dialog {
    max-width: 1200px;
    width: 80% ;
    margin-top: 8% ;
    margin-bottom: 0 ;
}





