.friend-item{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(235, 226, 236, 1);
    padding: 6px 6px 6px 6px;
    margin: 10px 0 10px 0;
    min-height: 120px;

}

.user-item-avatar{
    float: left;
    margin-left: 25px;
    width: 108px;
    height: 108px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 5px;
    cursor: pointer;
}

.friend-header1{
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
    cursor: pointer;
}
.friend-header1:hover{
    color: rgb(76, 68, 102)
}
.friend-header2{
    margin-top: 0;
    font-size: 18px;
    color: #ababac;
    text-align: left;
}

.friend-bth{
    height: 30px;
    background-color: rgba(198, 134, 209, 1);
    padding: 2px 25px 2px 25px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
    border:none;
    outline: none;
}
.friend-bth:hover{
    background-color: rgb(209, 105, 153);
}

.user-item-info-container{
    display: inline-block;
    margin-left: 25px;

}




