<div class="col-xs-12 col-md-6">
    <div class="friend-item">
        <img src="{{$ctrl.user.avatar}}" alt="" class="user-item-avatar" ng-click="$ctrl.goToProfile($ctrl.user.id)">
        <div class="user-item-info-container">
            <h3 class="friend-header1" ng-click="$ctrl.goToProfile($ctrl.user.id)">{{$ctrl.user.firstname}} {{$ctrl.user.lastname}}</h3>
            <h3 class="friend-header2" ng-show="$ctrl.user.city">{{ $ctrl.user.country}}, {{$ctrl.user.city}}</h3>
            <button class="friend-bth" ng-click="$ctrl.addFriend($ctrl.user)" ng-show="states.TO_ADD">Add to friends</button>
            <button class="friend-bth" ng-click="$ctrl.removeFriend($ctrl.user)"
                    ng-show="(states.TO_REMOVE&&isOwnerPage)||(states.TO_REMOVE&&isUsersListPage)">Remove from friends</button>
            <button class="friend-bth" ng-click="$ctrl.acceptFriend($ctrl.user)"
                    ng-show="states.TO_ACCEPT&&isOwnerPage||(states.TO_ACCEPT&&isUsersListPage)">Accept</button>
        </div>
    </div>
</div>
