.outbox-message-content{
    position: relative;
    padding-left: 20%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.outbox-message-text{
    position: relative;
    max-width: 80%;
    overflow-wrap: break-word;
    background-color: rgba(238, 221, 241, 1);
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
    margin-right: 35px;
}
.outbox-message-text::after{
    content: "";
    position: absolute;
    z-index: 10;
    top:0;
    right: 0;
    margin-right: -18px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid rgba(238, 221, 241, 1);
}

.outbox-message-time{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
    margin-left: -50px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(167, 167, 167, 1);
}

@media only screen and (max-width: 768px) {
    .outbox-message-content{
        padding-left: 0;
    }
}

@media only screen and (max-width: 420px) {
    .outbox-message-content{
        padding-right: 0;
    }
    .outbox-message-time{
        margin-left: 14px;

    }
    .outbox-message-text{
        margin-left: 0;
        min-width: 70px;
    }
}


.inbox-message-user-name{
    font-size: 16px;
    font-weight: 600;
    color: rgba(41, 41, 41, 1);
    text-align: left;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}
.inbox-message-user-name:hover{
    color: rgb(76, 68, 102)
}



.inbox-message-user-avatar{
    position: absolute;
    top:0;
    height: 69px;
    width: 70px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 5px;
    cursor: pointer;
}

.inbox-message-content{
    position: relative;
    margin-bottom: 20px;
    padding-right: 20%;
}

.inbox-message-text{
    position: relative;
    display: inline-block;
    max-width: 80%;
    overflow-wrap: break-word;
    background-color: rgba(227, 250, 252, 1);
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 100px;
}

.inbox-message-text::after{
    content: "";
    position: absolute;
    z-index: 110;
    top:0;
    left: 0;
    margin-left: -18px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid rgba(227, 250, 252, 1);
}

.inbox-message-time{
    position:absolute;
    top:0;
    right:10px;
    margin-right: -60px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgba(167, 167, 167, 1);
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .inbox-message-content{
        padding-right: 60px;
    }
}

@media only screen and (max-width: 520px) {
    .inbox-message-user-avatar{
        display: none;
    }
    .inbox-message-text{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 420px) {
    .inbox-message-content{
        padding-left: 0;
        padding-right: 10px;
    }

    .inbox-message-time{
        margin-right: 5px;
    }
    .inbox-message-text{
        min-width: 70px;
    }
}