<div ng-show="$ctrl.user.id==$ctrl.message.senderId">
    <div class="inbox-message-user-name" ng-click="$ctrl.goToProfile($ctrl.user.id)">{{$ctrl.user.lastname}}</div>
    <div class="inbox-message-content">
        <img src={{$ctrl.user.avatar}} alt="" class="inbox-message-user-avatar" ng-click="$ctrl.goToProfile($ctrl.user.id)">
        <div class="inbox-message-text">
            <span>{{$ctrl.message.text}}</span>
            <div class="inbox-message-time">{{$ctrl.message.createdAt | date:'HH:mm'}}</div>
        </div>
    </div>
</div>

<div ng-show="$ctrl.user.id!==$ctrl.message.senderId">
    <div class="outbox-message-content">
        <div class="outbox-message-text">
            <div class="outbox-message-time">{{$ctrl.message.createdAt | date:'HH:mm'}}</div>
            <span>{{$ctrl.message.text}}</span>
        </div>
    </div>
</div>
