<div class="friends-list-container-friends">
    <div class="container">
        <div class="row" ng-show="totalItems||name" ng-click="$ctrl.hideLists()">
            <div class="col-xs-12 col-md-6">
                <p class="friends-list-pag-info">Show {{currentItemsCount}} of {{totalItems}} friends</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <form name="searchForm" ng-validate="searchValidationOptions">
                    <input  name="searchString" ng-model="name"
                            ng-model-options="{ debounce: INPUT_DELAY }" ng-change="$ctrl.setSearchName(searchForm)"
                            class="friends-list-input-search" type="text" placeholder="Search" autofocus/>
                    <img class="friends-list-input-search-img" src="img/ic_search.png" alt="search">
                </form>
            </div>

        </div>
    </div>
    <div class="container">
           <div class="row" ng-show="!totalItems" >
            <div class="col-xs-12 col-md-6">
                <p class="friends-list-pag-info">Users not found...(</p>
            </div>
        </div>
        <div class="row">
            <user-item ng-repeat="user in friends" user=user></user-item>
        </div>
        <div class="row" ng-show="totalItems">
            <div class="friends-list-pagin-center">
                <ul uib-pagination boundary-links="true" direction-links="false" total-items="totalItems"
                    ng-model="currentPage" ng-change="$ctrl.setPage()" max-size="maxSize"  first-text="&laquo;"
                    items-per-page="ITEMS_LIMIT" last-text="&raquo;"
                    class="pagination-sm" >
                </ul>
            </div>
        </div>
    </div>
</div>

