.friends-list-input-search{
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 19px;
    height: 38px;
    width:100%;
    font-size: 18px;
    color: rgba(167, 167, 167, 1);
    padding-left: 55px;
    margin-bottom:15px;
    outline: none;
}
.friends-list-input-search-img{
    position: absolute;
    top: 7px;
    left: 36px;

}
.friends-list-pag-info{
    font-size: 18px;
    color: #ababac;
    text-align: left;
}

.friends-list-container-friends{
    background-color: rgba(251, 251, 253, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-radius: 0px 0px 5px 5px;
    padding: 15px 0px 15px 0px;
    max-width: 1200px;
    margin:auto;
}


.pagination-sm > li > a, .pagination-sm > li:last-child > a, .pagination-sm > li:first-child > a, .pagination > li > a:hover,
.pagination > li > span:hover, .pagination > li > a:focus,
.pagination > li > span:focus {
    height: 28px;
    width: 28px;
    background-color: rgba(210, 206, 226, 1);
    border-radius: 13px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 3px 0 0 0 ;
    margin-right: 10px;
    outline: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: rgba(117, 105, 157, 1)!important;
    border: none !important;
}

.friends-list-pagin-center{
    height: 200px;
    position: relative;
}

.friends-list-pagin-center .pagination {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}