<div class="col-xs-12 col-md-offset-2 col-md-8">
    <div class="chat-item" ng-click="$ctrl.goToChat($ctrl.chat.id)">
        <img src={{$ctrl.chat.user.avatar}} alt="" class="chat-item-img" >
        <div class="chat-item-info-container">
            <h3 class="chat-header1" >{{$ctrl.chat.user.firstname}} {{$ctrl.chat.user.lastname}}</h3>
            <h3 class="chat-header2" ng-show="true">{{$ctrl.chat.updatedAt | date:"d LLLL 'at' HH:mm"}}</h3>
        </div>
    </div>
</div>
