.chat-item{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 206, 226, 1);
    border-top: none;
    padding: 7px 7px 7px 7px;
    min-height: 122px;
    cursor: pointer;
}
.chat-item:hover{
    background-color: rgba(216, 151, 228, 0.28);
}

.chat-item-img{
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    width: 108px;
    height: 108px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 5px;
}

.chat-header1{
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
}
.chat-header2{
    margin-top: 0;
    font-size: 18px;
    color: #ababac;
    text-align: left;
}

.chat-item-info-container{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;

}




